                        
                        @import url('https://fonts.googleapis.com/css2?family=Signika:wght@500&display=swap');
                        .navbar-brand {
                            font-size: 30px;
                            color: white !important;
                            padding-left:5px;
                        }
                        
                        .nav-link {
                            color: white!important;
                            padding: 10px 20px !important;
                            font-size: 12px;
                            font-family: font-family 'Spectral', serif;
                        }
                        
                        .nav-link:hover {
                            border-bottom: solid;
                            border-width: 3px;
                        }
                        
                        .navbar li a:hover {
                            background-color: rgb(33, 83, 52, 0.7) !important;
                        }
                        
                        .navbar {
                            display: flex;
                            background-color: rgb(33, 83, 52)!important;
                        }
                        
                        .btn {
                            margin: 10px;
                            font-size: 12px;
                        }
                        .carousel {
                            margin-bottom: 20px;
                        }
                        .carousel-inner img {
                            width: 100%;
                            max-height: 700px;
                            padding:5%;
                        }
                        .carousel-control-prev, .carousel-control-next{
                            background-color: rgb(33, 83, 52, 0.2);
                            width:50px;
                            max-height: 700px;
                            margin:5%;}
                        body {
                            background-color: rgb(229, 241, 234);
                        }
                        

                        .course h1 {
                            font-size: 35px;
                            padding-top: 8px;
                            padding-bottom: 8px;
                            text-align: center;
                            background-color:rgb(33, 83, 52);
                            color:white;
                            font-family: 'Signika', sans-serif !important;
                        }
                        .course a {
                            font-size: 20px;
                            text-align: right;
                            padding-right: 30px;
                            text-decoration: none;
                            color:rgb(33, 83, 52);
                            padding-top: 9px;
                            
                        }
                        .course a:hover {
                            text-decoration: underline;
                        }
                        
                        .intro {
                            margin: auto 60px;
                            padding-bottom: 30px;
                        }
                        
                        hr {
                            border-top: 2px solid rgba(62, 44, 100, 0.6);
                            width: 70%;
                            margin-bottom: 2rem;
                            margin-left: auto;
                            margin-right: auto;
                        }
                        
                        .welcome hr {
                            border-top: 2px solid rgba(62, 44, 100, 0.6);
                            width: 70%;
                            margin-bottom: 2rem;
                            margin-left: auto;
                            margin-right: auto;
                        }
                        
                        .card {
                            margin: 15px;
                        }   
                        
                        .card .btn {
                            font-size: 15px;
                        }
                        
                        .card:hover {
                            border: salmon;
                        }
                        
                        .form-control {
                            width: 60%;
                            height: auto;
                            margin: auto 20%;
                        }
                        
                        #login,
                        #register {
                            text-align: center!important;
                        }
                        
                        .login-box {
                            width: 40%;
                            margin: 60px 30%;
                            border: solid 1px gray;
                        }
                        
                        .login-box:hover {
                            border: solid 1px gray;
                        }
                        .footer {
                            padding-top: 0 !important;
                            margin-top: 0 !important;
                        }

